*{
    padding: 0;
    margin:0;
    font-family: 'Quicksand',sans-serif;
}
 
.bgImage{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40vw;
    height: 50vh;
}
.layout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:100vh;
    
    box-sizing: border-box;

}

 
  

.formContainer{
    margin-top: 50px;
    width: 30vw;
   
    
}
.form-control{
    display: block;
    margin: 9px;
    width: 270px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;

}

.form-control:focus{
    outline: none;
}
.signUp-head{
    padding-bottom: 7px;
}
.signUp-p{
    color: #cbc8c9;
    padding-bottom: 5px;
    
    
}

#SignUp{
     width:270px;
     margin-left: 9px;
     height: 37px;
     border: none;
     cursor: pointer;
     /* background-color: #424cf5; */
     background-color: #806ae6;
     border-radius: 5px;
     font-weight: 600;
     color: #fff;
}
#SignUp:hover{
     opacity: 0.9;
}
.logo{
    position: fixed;
    top: 10px;
    left: 25px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    
}
.Error{
    color: #d93025;
    display: flex;
    align-items: center;
    margin: 4px;
    font-size: 14px;
    display: none;
}
.error-icon{
  margin-right: 4px;
  margin-left: 5px;
  font-size: 15px;
}
.color-logo{
    color: #806ae6;  
}

.social{
    display: inline-block;
    width: 32px;
     
}
 
.mySpan{
    display: block;
    margin:5px;
    color: #cbc8c9;
    margin-left: 90px;
}
.firstIcon{
    margin-left: 93px;
}
.social:hover{
    opacity: 0.9;
    cursor: pointer;
}

@media screen and  (max-width: 600px) {
    .layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
         
    
    }
    .bgImage{
        display: flex;
        justify-content: center;
        align-items: center;
    
        max-width: 50vh;
       
        
    }
    .formContainer{
        max-width: 50vh;
        
        
    }
  }
  /* login page */

.login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:100vh;
}

.loginContainer{
       
    width: 80vh;
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.loginImgContainer{
    width: 80vh;
}
 

.Login-control{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50vh;
    height: 30px;
    padding-left: 5px;
}
.Login-control:focus{
     outline: none;
    
}
.login-sp{
    margin-top:20px;
}


.Email-Error{
    color: #d93025;
    display: none;
    align-items: center;
    margin-left: -5px;
    font-size: 14px;
    margin-bottom: 10px;
     
}
.Password-Error{
    color: #d93025;
    align-items: center;
    margin-left: -5px;    
    font-size: 14px;
    display: none;
    margin-bottom: 10px;
}
.forget{
    color: #cbc8c9;
    font-size: 14px;
    float: right;
}
.loginErrorMsg{
    background-color: #e65262;
    color: #fff;
    width: 300px;
    height:30px; 
    display: none;
    margin-top: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 25px
     
}
.titles{
     margin-bottom: 50px;
}
.login-title{
    font-weight:700;
    font-size: 35px;
     
    
}
.login-desc{
    padding-top: 5px;
    color: #cbc8c9;
}
#loginBtn{
    margin-top: 10px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-color: #806ae6;
    color: #fff;
    font-weight: 600;
}
#loginBtn:hover{
    opacity: 0.9;
}

 

@media screen and  (max-width: 700px) {
    
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vh;
        
    }
         
    .loginImgContainer{
        width: 65vh;
    }
   
  }

  